<section class='car-purchases-section'>
  <h3>All Car Purchases</h3>
  <table class='table-group'>
    <thead class='table-header'>
      <tr class='table-row'>
        <th class='table-cell-group'>Model</th>
        <th class='table-cell-group'>Make</th>
        <th class='table-cell-group'>Customer</th>
        <th class='table-cell-group'>Purchase Date</th>
        <th class='table-cell-group'>Price</th>
        <th class='table-cell-group'>Salesperson</th>
      </tr>
    </thead>
    <tbody class='table-body'>
      <% car_purchases.each do |purchase| %>
        <tr class='table-row'>
          <td class='table-cell-group'><%= link_to purchase.car.model, car_path(purchase.car) %></td>
          <td class='table-cell-group'><%= purchase.car.manufacturer.name %></td>
          <td class='table-cell-group'><%= purchase.person.full_name %></td>
          <td class='table-cell-group'><%= purchase.purchase_date.strftime("%B %d, %Y") %></td>
          <td class='table-cell-group'><%= number_to_currency(purchase.price_paid) %></td>
          <td class='table-cell-group'><%= purchase.salesperson.person.full_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>