<section class='people-section'>
  <h3>Interactions</h3>
  <table class='table-group'>
    <thead class='table-header'>
      <tr class='table-row'>
        <th class='table-cell-group'>Name</th>
        <th class='table-cell-group'>Email</th>
        <th class='table-cell-group'>Age</th>
        <th class='table-cell-group'>Phone</th>
        <th class='table-cell-group'>City</th>
    </thead>
    <tbody class='table-body'>
      <% @people.each do |person| %>
        <tr class='table-row'>
          <td class='table-cell-group'><%= person.full_name%></td>
          <td class='table-cell-group'><%= person.email %></td>
          <td class='table-cell-group'><%= person.age %></td>
          <td class='table-cell-group'><%= person.phone %></td>
          <td class='table-cell-group'>
          <td>
            <% dealerships = person.city.dealerships %>
            <%= link_to person.city.name, dealership_path(dealerships.first) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>