<section id="nav-section">
  <div class="nav-title">
    <h1>Prism Holdings Group: Automotive Division Analytics</h1>
  </div>
  <div class="nav-links">
    <%= link_to "Car Purchases", car_purchases_path %>
    <%= link_to "Dealerships", dealerships_path %>
    <%= link_to "Cities", cities_path %>
    <%= link_to "People", people_path %>
    <%= link_to "Manufacturers", manufacturers_path %>
    <%= link_to "Cars", cars_path %>
  </div>
</section>