<section class='car-section'>
  <% if @car.present? %>
    <h3>Car Details:</h3>
    <h4><%= @car.year %> <%= @car.manufacturer.name %> <%= @car.model %></h4>
    <p>Colour: <%= @car.color %></p>
    <p class='cell-group'>Trim: <%= @car.trim %></p>

    <% if @car.features.any? %>
      <h5>Features:</h5>
      <ul>
        <% @car.features.each do |feature| %>
          <li><%= feature.name %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
  <% if @car_purchases&.any? %>
    <%= render 'shared/show_car_purchase', purchases: @car_purchases %>
  <% end %>
</section>